
.list1{
    width: 90%; margin: auto;
}.text1{
    text-align: center; font-size: 25px; color: black; font-weight: bold;
} 
.text2{
    text-align: center;  color: grey; font-size: 15px; font-weight: lighter; margin-top: 25px;}
    .text3{
     font-size: 20px; margin-left: 20px; text-align: left; color: black; font-weight: bold; margin-top: 0px;
    }
    .list2{
        width: 78%; border-radius:20px; border: 1px solid black; color: black; font-size: 15px; height: 52px; text-align: center; background-color: transparent;
    }
    .list2:hover{
        color: white; background-color: black;
    }
    .icon1{
         text-align:center; font-size: 40px; 
    }
    .red{
        border: 2px solid blue;
    }