.list1{
    width: 100%; max-width: 576px; margin-left: auto; margin-right: auto; 
}
.list2{
    width: 90%; margin: auto;  
}
.button1{
    height: 50px; width: 50px;  --background:black; text-align: center; color: white; font-size: 20px; float: left; margin-left: 10px;
}
.button2{
    height: 50px; width: 50px; --background:white; text-align: center; color: black; font-size: 20px; float: right; margin-right: 10px;
}