
  <ion-content>
    <ion-list class="a">
    <ion-list class="a-1">
      <ion-icon class="a1-icon" name="caret-back-outline"></ion-icon>
            <h5 class="a-1text">-</h5>
    </ion-list>
    </ion-list>
  
    <ion-list class="b">
      <h5 class="b-text">Payment</h5>
    </ion-list>
  
    <ion-list class="c">
  <ion-button class="c-butoon" >
    <ion-list class="c1">
      <img class="c1-img" src="../../assets/credit.jpg" alt="">
    </ion-list>
  <ion-list class="c2">
      <h5 class="c2-text">Credit Card</h5>
    </ion-list>
    <ion-list class="c3">
      <ion-checkbox class="c3-checkbox" slot="start"></ion-checkbox>
    </ion-list>
  </ion-button>
    </ion-list>
  
    <ion-list class="d">
      <ion-button class="c-butoon" >
        <ion-list class="c1">
          <img class="c2-img" src="../../assets/payayl.jpg" alt="">
        </ion-list>
      <ion-list class="c2">
          <h5 class="c2-text">Paypal</h5>
        </ion-list>
        <ion-list class="c3">
          <ion-checkbox class="c3-checkbox" slot="start"></ion-checkbox>
        </ion-list>
      </ion-button>
        </ion-list>
  
        <ion-list class="d">
          <ion-button class="c-butoon" >
            <ion-list class="c1">
              <img class="c3-img" src="../../assets/visa.jpg" alt="">
            </ion-list>
          <ion-list class="c2">
              <h5 class="c2-text">Visa</h5>
            </ion-list>
            <ion-list class="c3">
              <ion-checkbox class="c3-checkbox" slot="start"></ion-checkbox>
            </ion-list>
          </ion-button>
            </ion-list>
            <ion-list class="d">
              <ion-button class="c-butoon" >
                <ion-list class="c1">
                  <img class="c3-img" src="../../assets/google.jpg" alt="">
                </ion-list>
              <ion-list class="c2">
                  <h5 class="c2-text">Google Pay</h5>
                </ion-list>
                <ion-list class="c3">
                  <ion-checkbox class="c3-checkbox" slot="start"></ion-checkbox>
                </ion-list>
              </ion-button>
                </ion-list>
  
                <ion-list class="e" (click)="next()">
  <ion-button class="d-button">
    <ion-list class="e-1">
      <h5 class="e1-center">+</h5>
    </ion-list >
    <h5 class="e-text" >Conferm Payement</h5>
  </ion-button>
                </ion-list>
                <ion-list class="b">
                  <h5 class="u-text">History</h5>
                </ion-list>
  
  <ion-list class="f">
    <ion-list class="f1">
      <img class="f1-img" src="{{this.img}}" alt="">
    </ion-list>
    <ion-list class="f2">
      <h3 class="f2-text">{{this.var}}</h3>
      <h5 class="f2-text1">Vaddo Odelle</h5>
  <ion-list class="f4">
    
  <ion-list class="f5">
    <ion-icon class="f5-icon" name="trending-up-outline"></ion-icon>
  </ion-list>
  <h5 class="g6">Send</h5>
  </ion-list>
    </ion-list>
    <ion-list class="f3">
      <h5 class="f3-text">$198.00</h5>
    </ion-list>
  
  </ion-list>
  
  
  <ion-list class="g">
    <ion-list class="f1">
      <img class="f1-img" src="../../assets/img28.jpg" alt="">
    </ion-list>
    <ion-list class="f2">
      <h3 class="f2-text">Roller Rabbit</h3>
      <h5 class="f2-text1">Vaddo Odelle</h5>
  <ion-list class="f4">
    
  <ion-list class="f5">
    <ion-icon class="f5-icon" name="trending-up-outline"></ion-icon>
  </ion-list>
  <h5 class="g6">Send</h5>
  </ion-list>
    </ion-list>
    <ion-list class="f3">
      <h5 class="f3-text">$198.00</h5>
    </ion-list>
  
  </ion-list>
  
  <ion-list class="g">
    <ion-list class="f1">
      <img class="f1-img" src="../../assets/img28.jpg" alt="">
    </ion-list>
    <ion-list class="f2">
      <h3 class="f2-text">Roller Rabbit</h3>
      <h5 class="f2-text1">Vaddo Odelle</h5>
  <ion-list class="f4">
    
  <ion-list class="f5">
    <ion-icon class="f5-icon" name="trending-up-outline"></ion-icon>
  </ion-list>
  <h5 class="g6">Send</h5>
  </ion-list>
    </ion-list>
    <ion-list class="f3">
      <h5 class="f3-text">$198.00</h5>
    </ion-list>
  
  </ion-list>
  
  
    </ion-content>


