<!-- <ion-header>
  <ion-toolbar>
    <ion-title>page7</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  
    <ion-list class="list1">
    <ion-list class="list2">
      <ion-button class="button1" ><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
      <ion-button class="button2" ><ion-icon name="search-outline"></ion-icon></ion-button>
    </ion-list>
    <ion-list class="list3">
      <h4 class="text1">Categories</h4>
    </ion-list>
    <ion-list class="list4">
<ion-button shape="round" class="button3">
  <p class="text2"> <ion-icon name="cart-outline"></ion-icon> New Arrivals</p>
  <p class="text3"> 208 product</p>
</ion-button>
<ion-button shape="round" class="button3">
  <p class="text2"> <ion-icon name="shirt-outline"></ion-icon> clothes</p>
  <p class="text3"> 358 product</p>
</ion-button>
<ion-button shape="round" class="button3">
  <p class="text2"> <ion-icon name="bag-handle-outline"></ion-icon> Bags</p>
  <p class="text3"> 160 product</p>
</ion-button>
<ion-button shape="round" class="button3">
  <p class="text2"> <ion-icon name="footsteps-outline"></ion-icon> shoes</p>
  <p class="text3"> 230 product</p>
</ion-button>
<ion-button shape="round" class="button3">
  <p class="text2"> <ion-icon name="logo-electron"></ion-icon> Electronics</p>
  <p class="text3"> 130 product</p>
</ion-button>
<ion-button shape="round" class="button3">
  <p class="text2"> <ion-icon name="flower-outline"></ion-icon>Jwellery</p>
  <p class="text3"> 87 product</p>
</ion-button>
    </ion-list>
    <!-- <ion-list  class="list5">
<ion-row>
  <ion-col size="3" size-sm="3" size-md="3" class="col1">  <ion-chip class="chip1">
    <ion-avatar class="avatar1">
      <ion-icon name="home"></ion-icon>
    </ion-avatar>
    <ion-label>Home</ion-label>
  </ion-chip></ion-col>

  <ion-col class="col1"  size="3" size-sm="3" size-md="3">  <ion-icon class="icon1" name="cart-outline"></ion-icon></ion-col>
  <ion-col  class="col1" size="3" size-sm="3" size-md="3"> 
    <ion-icon class="icon1" name="notifications"></ion-icon></ion-col>
  <ion-col class="col1" size="3" size-sm="3" size-md="3">  <ion-icon class="icon1" name="person"></ion-icon></ion-col>
</ion-row>
    </ion-list> -->
  <app-first>
    
  </app-first>
    </ion-list>
    
    
</ion-content>
