

<ion-content>
  <ion-list class="list1">
    <ion-back-button defaultHref="./page14" >
      <!-- <ion-icon name="arrow-back-outline"></ion-icon> -->
    </ion-back-button>
    <ion-item class="item1" *ngFor="let item of product" (click)="next(item)">
      <ion-avatar slot="start" class="img1">
        <img alt="" src="{{item.img}}" />
      </ion-avatar>
      <ion-label class="text1">
         Name:{{item.name}}
      </ion-label>
      <p class="text1"> Price:{{item.price}}</p>
    </ion-item>
   
  </ion-list>

</ion-content>
