<!-- <ion-header>
  <ion-toolbar>
    <ion-title>page8</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-list class="list1" >
    <ion-list class="list2">
      <ion-button class="button1" ><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-list>
<ion-list class="list3"> <ion-searchbar placeholder="Search categories" class="searchbar1"  ></ion-searchbar></ion-list>

<ion-row>
  <ion-col size=".5" size-md=".5" ></ion-col>
  <ion-col size="5" size-md="2">
    <ion-list class="list4" (click)="next()"> <ion-list class="list6"> <h1 class="text1">New arrivals</h1>
    <p class="text2">208products</p>
    </ion-list></ion-list>
  </ion-col>
  <ion-col size=".5" size-md=".5" ></ion-col>
  <ion-col size="5" size-md="2" >   <ion-list class="list4" (click)="next()"> <ion-list class="list6"> <h1 class="text1">New arrivals</h1>
    <p class="text2">208products</p>
    </ion-list></ion-list></ion-col>
  <ion-col size="1" size-md=".5" ></ion-col>


  <ion-col size=".5" size-md=".5" ></ion-col>
  <ion-col size="5" size-md="2" >
    <ion-list class="list4" (click)="next()"> <ion-list class="list6"> <h1 class="text1">New arrivals</h1>
    <p class="text2">208products</p>
    </ion-list></ion-list>
  </ion-col>
  <ion-col size=".5" size-md=".5" ></ion-col>
  <ion-col size="5" size-md="3" >   <ion-list class="list4" (click)="next()"> <ion-list class="list6"> <h1 class="text1">New arrivals</h1>
    <p class="text2">208products</p>
    </ion-list></ion-list></ion-col>
  <ion-col size="1" size-md=".5" ></ion-col>


  <ion-col size=".5" size-md=".5" ></ion-col>
  <ion-col size="5" size-md="2" >
    <ion-list class="list4" (click)="next()"> <ion-list class="list6"> <h1 class="text1">New arrivals</h1>
    <p class="text2">208products</p>
    </ion-list></ion-list>
  </ion-col>
  <ion-col size=".5" size-md=".5" ></ion-col>
  <ion-col size="5" size-md="2" >   <ion-list class="list4" (click)="next()"> <ion-list class="list6"> <h1 class="text1">New arrivals</h1>
    <p class="text2">208products</p>
    </ion-list></ion-list></ion-col>
  <ion-col size="1" size-md=".5" size-lg="0"></ion-col>


  <ion-col size=".5" size-md=".5" ></ion-col>
  <ion-col size="5" size-md="2" >
    <ion-list class="list4" (click)="next()"> <ion-list class="list6"> <h1 class="text1">New arrivals</h1>
    <p class="text2">208products</p>
    </ion-list></ion-list>
  </ion-col>
  <ion-col size=".5" size-md=".5" ></ion-col>
  <ion-col size="5" size-md="3" >   <ion-list class="list4" (click)="next()"> <ion-list class="list6"> <h1 class="text1">New arrivals</h1>
    <p class="text2">208products</p>
    </ion-list></ion-list></ion-col>
  <ion-col size="1" size-md=".5" ></ion-col>
  <ion-col size=".5" size-md=".5" ></ion-col>
  <ion-col size="5" size-md="2" >
    <ion-list class="list4" (click)="next()"> <ion-list class="list6"> <h1 class="text1">New arrivals</h1>
    <p class="text2">208products</p>
    </ion-list></ion-list>
  </ion-col>
  <ion-col size=".5" size-md=".5" ></ion-col>
  <ion-col size="5" size-md="2" >   <ion-list class="list4" (click)="next()"> <ion-list class="list6"> <h1 class="text1">New arrivals</h1>
    <p class="text2">208products</p>
    </ion-list></ion-list></ion-col>
  <ion-col size="1" size-md=".5" ></ion-col>


  <ion-col size=".5" size-md=".5" ></ion-col>
  <ion-col size="5" size-md="2" >
    <ion-list class="list4" (click)="next()"> <ion-list class="list6"> <h1 class="text1">New arrivals</h1>
    <p class="text2">208products</p>
    </ion-list></ion-list>
  </ion-col>
  <ion-col size=".5" size-md=".5" ></ion-col>
  <ion-col size="5" size-md="3" >   <ion-list class="list4" (click)="next()"> <ion-list class="list6"> <h1 class="text1">New arrivals</h1>
    <p class="text2">208products</p>
    </ion-list></ion-list></ion-col>
  <ion-col size="1" size-md=".5" ></ion-col>


  <ion-col size=".5" size-md=".5" ></ion-col>
  <ion-col size="5" size-md="2" >
    <ion-list class="list4" (click)="next()"> <ion-list class="list6"> <h1 class="text1">New arrivals</h1>
    <p class="text2">208products</p>
    </ion-list></ion-list>
  </ion-col>
  <ion-col size=".5" size-md=".5" ></ion-col>
  <ion-col size="5" size-md="2" >   <ion-list class="list4" (click)="next()"> <ion-list class="list6"> <h1 class="text1">New arrivals</h1>
    <p class="text2">208products</p>
    </ion-list></ion-list></ion-col>
  <ion-col size="1" size-md=".5" ></ion-col>


  <ion-col size=".5" size-md=".5" ></ion-col>
  <ion-col size="5" size-md="2">
    <ion-list class="list4" (click)="next()"> <ion-list class="list6"> <h1 class="text1">New arrivals</h1>
    <p class="text2">208products</p>
    </ion-list></ion-list>
  </ion-col>
  <ion-col size=".5" size-md=".5" ></ion-col>
  <ion-col size="5" size-md="3" >   <ion-list class="list4" (click)="next()"> <ion-list class="list6"> <h1 class="text1">New arrivals</h1>
    <p class="text2">208products</p>
    </ion-list></ion-list></ion-col>
  <ion-col size="1" size-md=".5" ></ion-col>




</ion-row>





    <ion-list  class="list5">
      <ion-row>
        <ion-col size="3" size-sm="3" size-md="3" class="col1">  <ion-chip class="chip1">
          <ion-avatar class="avatar1">
            <ion-icon name="home"></ion-icon>
          </ion-avatar>
          <ion-label>Home</ion-label>
        </ion-chip></ion-col>
      
        <ion-col class="col1"  size="3" size-sm="3" size-md="3">  <ion-icon class="icon1" name="cart-outline"></ion-icon></ion-col>
        <ion-col  class="col1" size="3" size-sm="3" size-md="3"> 
          <ion-icon class="icon1" name="notifications"></ion-icon></ion-col>
        <ion-col class="col1" size="3" size-sm="3" size-md="3">  <ion-icon class="icon1" name="person"></ion-icon></ion-col>
      </ion-row>
          </ion-list>
  </ion-list>
</ion-content>
