<!-- <ion-header>
  <ion-toolbar>
    <ion-title>page4</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-list class="list1">
    <ion-avatar class="avatar1"><img class="img1" src="../../assets/fashion image.png" alt=""></ion-avatar>
    <ion-list class="list3">
    <h1 class="text1">Sign Up</h1>
    <p class="text2">create a new account </p></ion-list>
    <ion-item class="item1">
      <ion-label position="floating"><b>Username</b></ion-label>
      <ion-input type="text" placeholder="Enter name"> <ion-icon class="icon1" name="checkmark-circle-outline"></ion-icon></ion-input>
    </ion-item>
    <ion-item class="item1">
      <ion-label position="floating"><b> Email</b></ion-label>
      <ion-input type="email" placeholder="Enter Email"></ion-input>
    </ion-item>
    <ion-item class="item1">
      <ion-label position="floating"><b>Password</b></ion-label>
      <ion-input type="password" placeholder="Enter Password"> <ion-icon class="icon1" name="eye-off-outline"></ion-icon></ion-input>
    </ion-item>
    <ion-item class="item1">
      <ion-label position="floating"><b> Confirm Password</b></ion-label>
      <ion-input type="password" placeholder="Confirm Password"> <ion-icon class="icon1" name="eye-off-outline"></ion-icon></ion-input>
    </ion-item>
    <ion-list class="list5">
    <ion-list class="list4"></ion-list>
    <p class="text3"> By creating an account you have to agree our terms and condions</p>
  </ion-list>
  <ion-list class="list6">
    <ion-button shape="round" class="button1"> Login</ion-button>
  </ion-list>
  </ion-list>    

  
</ion-content>
