<!-- <ion-header>
  <ion-toolbar>
    <ion-title>page13</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-list class="list1">
    <ion-list class="list2">

      <h3 class="text1">4:46</h3>

      <ion-icon class="icon1" name="battery-half-outline"></ion-icon>
      <ion-icon class="icon1" name="wifi-outline"></ion-icon>
    </ion-list>
    <ion-list class="list3">
      <ion-button class="button1"><ion-icon name="options-outline"></ion-icon></ion-button>
      <ion-button class="button2"><ion-icon name="briefcase-outline"></ion-icon></ion-button>
      <ion-icon class="icon2" name="heart-circle"></ion-icon>

    </ion-list>

    <ion-list class="list4">
      <ion-list class="list5">
        <h1 class="text2">Roller Rabbit</h1>
        <p class="text3">Vado Odelle dress</p>
        <ion-button class="button3" shape="round">- 1 +</ion-button>
      </ion-list>
      <ion-list class="list6">
        <ion-icon class="icon3" name="star"></ion-icon>
        <ion-icon class="icon3" name="star"></ion-icon>
        <ion-icon class="icon3" name="star"></ion-icon>
        <ion-icon class="icon3" name="star"></ion-icon>
        <ion-icon class="icon3" name="star"></ion-icon>
        <p class="text4">(320 reviews)</p>
        <h1 class="text5">Available in stocks</h1>
      </ion-list>
      <ion-list class="list7">
        <h1 class="text2"> Size</h1>
        <ion-row>
          <ion-col size="2" class="col1"><ion-list class="list8">
              <p class="text6">S</p>
            </ion-list></ion-col>
          <ion-col size="2" class="col1"><ion-list class="list8">
              <p class="text6">M</p>
            </ion-list></ion-col>
          <ion-col size="2" class="col1"><ion-list class="list8">
              <p class="text6">L</p>
            </ion-list></ion-col>
          <ion-col size="2" class="col1"><ion-list class="list8">
              <p class="text6">XL</p>
            </ion-list></ion-col>
          <ion-col size="2" class="col1"><ion-list class="list8">
              <p class="text6">XXl</p>
            </ion-list></ion-col>
          <ion-col size="2" class="col1"><ion-list class="list9">
              <ion-icon name="checkmark-circle-outline" class="icon4"></ion-icon>
              <ion-list class="list10"></ion-list>
              <ion-list class="list11"></ion-list>
              <ion-list class="list12"></ion-list>
            </ion-list></ion-col>
        </ion-row>
      </ion-list>
      <ion-list class="list5">
        <h1 class="text7"> Description</h1>
        <p class="text8">Get a little lift from these Sam Edelman Sandals featuring ruched straps and leather lace-up
          ties ,while a braided jute sale make a fresh statement for summer . </p>
      </ion-list>
      <ion-list class="list5">
        <p class="text10"> Total price</p>
        <h1 class="text9"> $198.00</h1>
        <ion-list class="list13">
          <ion-icon name="briefcase-outline" class="icon5"></ion-icon>
          <p class="icon5"> Add to cart</p>
        </ion-list>
      </ion-list>
    </ion-list>



  </ion-list>
</ion-content>