<!-- <ion-header>
  <ion-toolbar>
    <ion-title>page21</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-content>
  <ion-list class="a">
  <ion-list class="a-1">
    <ion-icon class="a1-icon" name="caret-back-outline"></ion-icon>
          <h5 class="a-1text">-</h5>
  </ion-list>
  </ion-list>
<ion-list class="b">
  <h5 class="b-text">Payment</h5>
</ion-list>
<ion-list class="c1">
  <img class="img-c2" src="../../assets/img2.jpg" alt="">
  <img class="img-c1" src="../../assets/img2.jpg" alt="">

</ion-list>

<ion-list class="b">
  <h5 class="b-text">Card Details</h5>
</ion-list>

<ion-list class="c">
<ion-input class="c-input" placeholder="Card number" type="text"></ion-input>
</ion-list>
<ion-list class="d">
  <ion-input class="c-input" placeholder="Exp date" type="text"></ion-input>
  </ion-list>
  <ion-list class="d">
    <ion-input class="c-input" placeholder="cvv" type="text"></ion-input>
    </ion-list>

    <ion-list class="e">
<ion-list class="e1">
  <h4 class="e1-text">Cancel</h4>
</ion-list>
<ion-list class="e2">
  <ion-button class="e2-button">
    Confirm 
  </ion-button>
</ion-list>
    </ion-list>
  </ion-content>
