  <!-- <ion-header>
  <ion-toolbar>
    <ion-title>page18</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-list class="list1">
    <ion-list class="list2">
<ion-icon name="arrow-back-circle" class="icon1"></ion-icon>
    </ion-list>
    <ion-list class="list2">
      <ion-searchbar class="sb1" ></ion-searchbar>
<ion-button class="button1"> <ion-icon name="scan"></ion-icon></ion-button>
    </ion-list>
    <ion-list class="list3">
      <ion-list class="list4">
<ion-icon class="icon2" name="trending-up"></ion-icon> </ion-list>
<ion-list class="list5">
  <h2 class="text1">6556 23341 8090</h2>
  <p class="text2">Ena Express</p>
  <p class="text3"> Transit </p>
</ion-list>
<ion-list class="list6">
  <h5 class="text4">25 june,2021</h5>
  <h1 class="text5">Sacramnto</h1>
  <h5 class="text6">30 june,2021</h5>
  <h1 class="text7">Tamil Nadu</h1>
</ion-list>
    </ion-list>
<ion-list class="list2">
  <h5 class="text8"> Tracking</h5>
  <ion-list class="list7">
    <ion-button class="img2"><ion-icon name="car-sport"></ion-icon> </ion-button>
    <ion-list class="list8">
      <h1 class="text9">US 2343445668</h1>
      <p class="text10">Tamil-Nadu</p> 
       <p class="text11">Delivered</p>
      </ion-list>

  </ion-list>
  <ion-list class="list7">
    <ion-button class="img2"><ion-icon name="car-sport"></ion-icon> </ion-button>
    <ion-list class="list8">
      <h1 class="text9">US 2343445652</h1>
      <p class="text10">Delhi-India</p> 
       <p class="text12">Transit</p>
      </ion-list>
      

  </ion-list>
  <ion-list class="list7">
    <ion-button class="img2"><ion-icon name="car-sport"></ion-icon> </ion-button>
    <ion-list class="list8">
      <h1 class="text9">US 2343445652</h1>
      <p class="text10">Delhi-India</p> 
       <p class="text12">Transit</p>
      </ion-list>
      

  </ion-list>
</ion-list>
<ion-list  class="list12">
  <ion-row>
    <ion-col size="3" size-sm="3" size-md="3" class="col1">  <ion-chip class="chip1">
      <ion-avatar class="avatar2">
        <ion-icon name="home"></ion-icon>
      </ion-avatar>
      <ion-label>Home</ion-label>
    </ion-chip></ion-col>
  
    <ion-col class="col1"  size="3" size-sm="3" size-md="3">  <ion-icon class="icon4" name="cart-outline"></ion-icon></ion-col>
    <ion-col  class="col1" size="3" size-sm="3" size-md="3"> 
      <ion-icon class="icon4" name="notifications"></ion-icon></ion-col>
    <ion-col class="col1" size="3" size-sm="3" size-md="3">  <ion-icon class="icon4" name="person"></ion-icon></ion-col>
  </ion-row>
      </ion-list>    

  </ion-list>
</ion-content>
