<!-- <ion-header>
  <ion-toolbar>
    <ion-title>page2</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <ion-list class="list1"> -->
    <ion-slides  pager="true" >
      <ion-slide>
        <ion-list class="list4">
        <ion-list class="list3">
        <ion-list class="list2"> </ion-list>
        <h3 class="text1">20% Discount</h3>
        <p class="text2">New Arrival Product</p>
        <p class="text3">Publish up your selfies to make yourself more beautiful with this app</p>      
      <ion-button class="button1" ><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
      </ion-list> 
    </ion-list>
      </ion-slide>
      <ion-slide>
        <ion-list class="list4">
        <ion-list class="list3">
          <ion-list class="list2"> </ion-list>
          <h3 class="text1">20% Discount</h3>
          <p class="text2">New Arrival Product</p>
          <p class="text3">Publish up your selfies to make yourself more beautiful with this app</p>      
        <ion-button class="button1" ><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
        </ion-list> </ion-list>
      </ion-slide>
      <ion-slide>
        <ion-list class="list4">
        <ion-list class="list3">
          <ion-list class="list2"> </ion-list>
          <h3 class="text1">20% Discount</h3>
          <p class="text2">New Arrival Product</p>
          <p class="text3">Publish up your selfies to make yourself more beautiful with this app</p>      
        <ion-button class="button1"  ><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
        </ion-list> </ion-list>
      </ion-slide>
    </ion-slides>
 
<!--   
  </ion-list> -->


</ion-content>