<!-- <ion-header>
  <ion-toolbar>
    <ion-title>page16</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-list class="list1">
    <ion-list class="list2">
      <ion-button class="button1"> <ion-icon name="arrow-back-outline"></ion-icon></ion-button>
      <ion-button class="button2"> <ion-icon name="settings-outline"></ion-icon></ion-button>
     </ion-list>
     <ion-list class="list2">
      <ion-list class="item1">
        <img class="img1" src="../../assets/img26.jpg" alt="">
        <ion-list class="item2">
          <h1 class="text2">Fscreation</h1>
          <p class="text3">Fscreation441@gmail.com</p>
        </ion-list>
      </ion-list>
     </ion-list>
<ion-list class="list3">
  <ion-list class="list4">
    <ion-button class="button3"><ion-icon  name="person"></ion-icon></ion-button>
    <ion-label color="dark"  class="text4" > Personel detail</ion-label>
    <ion-icon name="chevron-forward-outline" class="icon4"></ion-icon>
  </ion-list>
  <ion-list class="list4">
    <ion-button class="button3"><ion-icon  name="briefcase"></ion-icon></ion-button>
    <ion-label color="dark"  class="text4" > My Orders</ion-label>
    <ion-icon name="chevron-forward-outline" class="icon4"></ion-icon>
  </ion-list>
  <ion-list class="list4">
    <ion-button class="button3"><ion-icon  name="heart"></ion-icon></ion-button>
    <ion-label color="dark"  class="text4" > My Favourite</ion-label>
    <ion-icon name="chevron-forward-outline" class="icon4"></ion-icon>
  </ion-list>
  <ion-list class="list4">
    <ion-button class="button3"><ion-icon  name="car"></ion-icon></ion-button>
    <ion-label color="dark"  class="text4" >Shipping Address</ion-label>
    <ion-icon name="chevron-forward-outline" class="icon4"></ion-icon>
  </ion-list>
  <ion-list class="list4">
    <ion-button class="button3"><ion-icon  name="card"></ion-icon></ion-button>
    <ion-label color="dark"  class="text4" > My card</ion-label>
    <ion-icon name="chevron-forward-outline" class="icon4"></ion-icon>
  </ion-list>
  <ion-list class="list4">
    <ion-button class="button3"><ion-icon  name="settings"></ion-icon></ion-button>
    <ion-label color="dark"  class="text4" > Settings</ion-label>
    <ion-icon name="chevron-forward-outline" class="icon4"></ion-icon>
  </ion-list>
  
</ion-list>
<ion-list class="list3">
  <ion-list class="list4">
    <ion-button class="button3"><ion-icon  name="alert-circle"></ion-icon></ion-button>
    <ion-label color="dark"  class="text4" > FAQs</ion-label>
    <ion-icon name="chevron-forward-outline" class="icon4"></ion-icon>
  </ion-list>
  <ion-list class="list4">
    <ion-button class="button3"><ion-icon  name="shield-checkmark"></ion-icon></ion-button>
    <ion-label color="dark"  class="text4" > Privacy Policy</ion-label>
    <ion-icon name="chevron-forward-outline" class="icon4"></ion-icon>
  </ion-list>
  <ion-list class="list4">
    <ion-button class="button3"><ion-icon  name="heart"></ion-icon></ion-button>
    <ion-label color="dark"  class="text4" > My Favourite</ion-label>
    <ion-icon name="chevron-forward-outline" class="icon4"></ion-icon>
  </ion-list>
  <ion-list class="list4">
    <ion-button class="button3"><ion-icon  name="car"></ion-icon></ion-button>
    <ion-label color="dark"  class="text4" >Shipping Address</ion-label>
    <ion-icon name="chevron-forward-outline" class="icon4"></ion-icon>
  </ion-list>
  <ion-list class="list4">
    <ion-button class="button3"><ion-icon  name="card"></ion-icon></ion-button>
    <ion-label color="dark"  class="text4" > My card</ion-label>
    <ion-icon name="chevron-forward-outline" class="icon4"></ion-icon>
  </ion-list>
  <ion-list class="list4">
    <ion-button class="button3"><ion-icon  name="settings"></ion-icon></ion-button>
    <ion-label color="dark"  class="text4" > Settings</ion-label>
    <ion-icon name="chevron-forward-outline" class="icon4"></ion-icon>
  </ion-list>
  
</ion-list>

<ion-list  class="list12">
  <ion-row>
    <ion-col size="3" size-sm="3" size-md="3" class="col1">  <ion-chip class="chip1">
      <ion-avatar class="avatar2">
        <ion-icon name="home"></ion-icon>
      </ion-avatar>
      <ion-label>Home</ion-label>
    </ion-chip></ion-col>
  
    <ion-col class="col1"  size="3" size-sm="3" size-md="3">  <ion-icon class="icon4" name="cart-outline"></ion-icon></ion-col>
    <ion-col  class="col1" size="3" size-sm="3" size-md="3"> 
      <ion-icon class="icon4" name="notifications"></ion-icon></ion-col>
    <ion-col class="col1" size="3" size-sm="3" size-md="3">  <ion-icon class="icon4" name="person"></ion-icon></ion-col>
  </ion-row>
      </ion-list>
  </ion-list>
</ion-content>
