
<ion-content>
  <ion-list class="a">
    <ion-list class="a-1">
      <ion-icon class="a1-icon" name="caret-back-outline"></ion-icon>
      <h5 class="a-1text">-</h5>
    </ion-list>
  </ion-list>

  <ion-list class="b">
    <ion-icon class="b-icon" name="search"></ion-icon>
    <ion-input class="input" placeholder="Search country"></ion-input>
  </ion-list>

  <ion-list class="c">
    <h2 class="c-text">Country or Region</h2>
  </ion-list>

  <ion-list class="d">
    <ion-button class="c-butoon">
      <ion-list class="c1">
        <img class="c2-img" src="../../assets/pakistan.jpg" alt="">
      </ion-list>
      <ion-list class="c2">
        <h5 class="c2-text">Pakistan</h5>
      </ion-list>
      <ion-list class="c3">
        <ion-checkbox class="c3-checkbox" slot="start"></ion-checkbox>
      </ion-list>
    </ion-button>
  </ion-list>

  <ion-list class="d">
    <ion-button class="c-butoon">
      <ion-list class="c1">
        <img class="c2-img" src="../../assets/usa.jpg" alt="">
      </ion-list>
      <ion-list class="c2">
        <h5 class="c2-text">US</h5>
      </ion-list>
      <ion-list class="c3">
        <ion-checkbox class="c3-checkbox" slot="start"></ion-checkbox>
      </ion-list>
    </ion-button>
  </ion-list>

  <ion-list class="d">
    <ion-button class="c-butoon">
      <ion-list class="c1">
        <img class="c2-img" src="../../assets/india.jpg" alt="">
      </ion-list>
      <ion-list class="c2">
        <h5 class="c2-text">India</h5>
      </ion-list>
      <ion-list class="c3">
        <ion-checkbox class="c3-checkbox" slot="start"></ion-checkbox>
      </ion-list>
    </ion-button>
  </ion-list>

  <ion-list class="d">
    <ion-button class="c-butoon">
      <ion-list class="c1">
        <img class="c2-img" src="../../assets/france.jpg" alt="">
      </ion-list>
      <ion-list class="c2">
        <h5 class="c2-text">France</h5>
      </ion-list>
      <ion-list class="c3">
        <ion-checkbox class="c3-checkbox" slot="start"></ion-checkbox>
      </ion-list>
    </ion-button>
  </ion-list>

  <ion-list class="d">
    <ion-button class="c-butoon">
      <ion-list class="c1">
        <img class="c2-img" src="../../assets/pakistan.jpg" alt="">
      </ion-list>
      <ion-list class="c2">
        <h5 class="c2-text">Pakistan</h5>
      </ion-list>
      <ion-list class="c3">
        <ion-checkbox class="c3-checkbox" slot="start"></ion-checkbox>
      </ion-list>
    </ion-button>
  </ion-list>

  <ion-list class="d">
    <ion-button class="c-butoon">
      <ion-list class="c1">
        <img class="c2-img" src="../../assets/usa.jpg" alt="">
      </ion-list>
      <ion-list class="c2">
        <h5 class="c2-text">US</h5>
      </ion-list>
      <ion-list class="c3">
        <ion-checkbox class="c3-checkbox" slot="start"></ion-checkbox>
      </ion-list>
    </ion-button>
  </ion-list>

  <ion-list class="d">
    <ion-button class="c-butoon">
      <ion-list class="c1">
        <img class="c2-img" src="../../assets/india.jpg" alt="">
      </ion-list>
      <ion-list class="c2">
        <h5 class="c2-text">India</h5>
      </ion-list>
      <ion-list class="c3">
        <ion-checkbox class="c3-checkbox" slot="start"></ion-checkbox>
      </ion-list>
    </ion-button>
  </ion-list>

  <ion-list class="d">
    <ion-button class="c-butoon">
      <ion-list class="c1">
        <img class="c2-img" src="../../assets/france.jpg" alt="">
      </ion-list>
      <ion-list class="c2">
        <h5 class="c2-text">France</h5>
      </ion-list>
      <ion-list class="c3">
        <ion-checkbox class="c3-checkbox" slot="start"></ion-checkbox>
      </ion-list>
    </ion-button>
  </ion-list>
</ion-content>
