<!-- <p>
  first works!jkjsdhshdkjsdj
</p> -->
<ion-list  class="list5">
  <ion-row>
    <ion-col size="3" size-sm="3" size-md="3" class="col1">  <ion-chip class="chip1">
      <ion-avatar class="avatar1">
        <ion-icon name="home"></ion-icon>
      </ion-avatar>
      <ion-label>Home</ion-label>
    </ion-chip></ion-col>
  
    <ion-col class="col1"  size="3" size-sm="3" size-md="3">  <ion-icon class="icon1" name="cart-outline"></ion-icon></ion-col>
    <ion-col  class="col1" size="3" size-sm="3" size-md="3"> 
      <ion-icon class="icon1" name="notifications"></ion-icon></ion-col>
    <ion-col class="col1" size="3" size-sm="3" size-md="3">  <ion-icon class="icon1" name="person"></ion-icon></ion-col>
  </ion-row>
      </ion-list>