.list1{
    width: 100%; max-width: 576px; margin: auto;
}
.list2{ margin-top: 10px;
    width: 95%; margin: auto;
}
.icon1{
    font-size: 30px; margin-left: 10px; margin-top: 10px; 
}
.text1{
    font-size: 20px; font-weight: bolder; margin-left: 10px; 
}
.list3{
 background-color: whitesmoke;
   border-radius: 10px; height: 200px;
 margin-top: 10px;
    width: 89%; margin: auto;
}
.text2{
    float: left;
    font-size: 18px; font-weight: bold; color: black; margin-top: 0px; margin-left: 10px;
}
.text3{
    font-size: 13px; font-weight: lighter; color: grey; margin-top: 3px; margin-left: 5px; float: left;
}
.list4{  height: 23px;
    background-color: transparent;
}
.list5{  height: 30px;
    background-color: transparent;
}
.text4{
    float: left;
    font-size: 18px; font-weight: bold; color: black; margin-top: 10px; margin-left: 10px;
}
.text5{
    font-size: 13px; font-weight: lighter; color: grey; margin-top: 14px; margin-left: 5px; float: left;
}

.list6 {
    border: 1px solid whitesmoke;
    width: 90%;  border-radius: 10px;
    margin: auto;
    height: 72px;
    background-color: whitesmoke;
    margin-top: 10px;
}
.list7{
  background-color: whitesmoke; float: left; height: 56px; width: 180px;  margin-top: 10px;  
}
.img1{
    border-radius: 10px;
    height: 55px; width: 78px; margin-top: 10px; margin-left: 10px; float: left;
}

.text6{
    font-size: 13px; color: black; margin-left: 10px;  margin-top: 2px;  font-weight: bolder;
}
.text7{
    font-size: 9px;  color: black; margin-top: -9px; margin-left: 10px; font-weight: lighter;
}
.text8{
    font-size: 13px; color: black; margin-left: 10px;  margin-top: 12px;  font-weight: bolder;
}
.text9{
    font-size: 9px;  color: black; margin-top: -9px; margin-left: 10px; font-weight: lighter;
}
.img2{
    --border-radius: 10px;
 --background   : black; color: white; font-size: 15px; font-weight: bold; text-align:center;    height: 50px; width: 50px; margin-top: 10px; margin-left: 10px; float: left;
}
.text10{
    font-size: 14px; font-weight: lighter; color: rgb(161, 161, 161); text-align: left; margin-left: 10px; margin-top: 10px;
}
.text11{
    font-size: 20px; font-weight: bolder; margin-top: -10px; margin-left: 10px;
}
.button2{
    margin-top: -54px; float: right;
    --background: black; color: white; font-size: 20px; font-weight: normal; height: 50px; width: 130px; --border-radius: 25px;
}