<ion-content>
<ion-list class="list1">
    <ion-list class="list2" *ngFor="let item of dataarray ; let i=index"    >
      <img src="{{ item.img}}" alt="" class="img1">
      <ion-row >
        <ion-col size="12" class="col1">
       {{item.name}}   
        </ion-col>
        <ion-col  size="6" class="col1">Price </ion-col>
        <ion-col size="6" class="col2">{{item.price}}</ion-col>
        <ion-col  size="6" class="col1" >Quantity </ion-col>
        <ion-col size="2"></ion-col>
        <ion-col size="4" class="col2">
          
          <ion-row >
           <ion-col size="1.5"></ion-col>
            <ion-col size="3">
              <ion-icon name="add-outline" (click)="Inc(i)"></ion-icon>
            </ion-col>
            <ion-col size="4.5" >{{item.quantity}}</ion-col>
            <ion-col size="3">
              <ion-icon name="remove-outline" (click)="dec(i)"></ion-icon>
            </ion-col>
          </ion-row>
              
        </ion-col>
        <ion-col  size="6" class="col1">Subtotal </ion-col>
        <ion-col size="6" class="col2">{{item.subtotal}}</ion-col>
        

      </ion-row>

      <!-- <p class="text1">{{item.name}}</p>
      <p class="text2">{{item.price}}</p>
      <p class="text3">{{item.amount}}</p>
      <ion-list class="list3">
        <p class="text4"> {{item.Q}}</p>
      <ion-list class="list4">
        <ion-buttons slot="start" color="black">
        <ion-button>
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button  >
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
        <ion-item >
          <ion-buttons slot="start">
            <ion-button (click)="increment(item)">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          {{item.var}}
          <ion-buttons slot="end">
            <ion-button (click)="decrement(item)">
              <ion-icon name="remove-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>   
      </ion-list>
      </ion-list>
      -->
    </ion-list>
    <ion-list class="list5">
        <ion-item  >
            <p class="text6">{{this.tag}}</p>
            <p class="text7" >{{this.rupees}}.00</p>
        </ion-item>
        <ion-item  >
          <p class="text6"> discount</p>
          <p class="text7" >{{this.discount}}%</p>
      </ion-item>
      <ion-item  >
        <p class="text6">Shipping</p>
        <p class="text7" >{{this.shipping}}.00</p>
    </ion-item>
    <ion-item  >
      <p class="text6">Grandtotal</p>
      <p class="text7" >{{this.grandtotal}}.00</p>
  </ion-item>
    </ion-list>
    
    
    </ion-list>
</ion-content>